button {
  text-transform: none;
  overflow: visible;
}
.navigation-wrapper {
  position: relative;
}
.arrow:hover {
transform: scale(1.1);
box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
  transition: .2s ease;
background: #869791;
}
.arrow-nav {
  display: flex;
}
.arrow-nav button {
  font-size: 30px !important;
}
.arrow-prev,
.arrow-next {
  cursor: pointer;
  position: absolute;
  top: 37.5%;
  z-index: 100;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 1) !important;
  border: solid 1px #ccc !important;
  color: #000 !important;
  border-radius: 60px !important;
}
.arrow-prev {
  left: -12px;
  border-radius: 60px;
  padding-left: 4px;
}
.arrow-next {
  right: -12px;
  border-radius: 60px;
  padding-right: 4px;
}