.navigation-wrapper {
  position: relative;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.owl-prev,
.owl-next {
  pointer-events: all;
}

.owl-prev {
  left: -20px;
}
.owl-next {
  right: 5px;
}
.arrow-weight {
  font-size: 20px;
  font-weight: bolder;
  color: black;
}
.image-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
}
.image-wrapper img,
.image-wrapper .skeleton {
  width: 100%;
  height: 100%;
  object-fit: cover;
}